.centerDiv {
    width: 60%;
    height: 140px;
    margin: 0 auto;
    background-color: #3d4849;
    margin-top: 50px;
}

.div1 {
    width: 40%;
    height: 140px;
    background-color: #3d4849;
    float: left;
    vertical-align: middle;
    text-align: right;
}

.div2 {
    width: 60%;
    height: 140px;
    background-color: #3d4849;
    float: left;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

.centerDiv2 {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    background-color: #3d4849;
    margin-top: 50px;
}

.div3 {
    width: 50%;
    height: 300px;
    background-color: orange;
    float: left;
    vertical-align: middle;
    text-align: right;
}

.div21 {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: orange;
    text-align: center;
}

.div22 {
    width: 100%;
    height: 210px;
    margin: 0 auto;
    background-color: orange;
    text-align: center;
}

.div4 {
    width: 50%;
    height: 300px;
    background-color: rgb(74, 189, 228);
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.centerDiv3 {
    width: 60%;
    height: 115px;
    margin: 0 auto;
    background-color: tomato;
    margin-top: 25px;
}

.div23 {
    width: 50%;
    height: 115px;
    background-color: tomato;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.div24 {
    width: 50%;
    height: 115px;
    background-color: tomato;
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    display: flex;
}

.centerDiv4 {
    width: 60%;
    height: 115px;
    margin: 0 auto;
    background-color: tomato;
    text-align: center;
}

.centerDiv5 {
    width: 60%;
    height: 270px;
    margin: 0 auto;
    background-color: #3d4849;
    margin-top: 25px;
}

.div5 {
    width: 50%;
    height: 270px;
    background-color: rgb(74, 189, 228);
    float: left;
    vertical-align: middle;
    text-align: center;
}

.div6 {
    width: 50%;
    height: 270px;
    background-color: rgb(74, 189, 228);
    float: left;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

.centerDiv6 {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    background-color: #3d4849;
    margin-top: 25px;
}

.div7 {
    width: 50%;
    height: 300px;
    background-color: tomato;
    float: left;
    vertical-align: middle;
    text-align: right;
}

.div8 {
    width: 50%;
    height: 300px;
    background-color: orange;
    float: left;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

.centerDiv7 {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    background-color: rgb(74, 189, 228);
    margin-top: 25px;
}

.div11 {
    width: 60%;
    height: 200px;
    background-color: rgb(74, 189, 228);
    float: left;
    vertical-align: middle;
    text-align: center;
}

.div12 {
    width: 40%;
    height: 200px;
    background-color: rgb(74, 189, 228);
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.centerDiv8 {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    background-color: orange;
    margin-top: 25px;
}

.div13 {
    width: 70%;
    height: 200px;
    background-color: orange;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.div14 {
    width: 30%;
    height: 200px;
    background-color: orange;
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.centerDiv9 {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    background-color: #3d4849;
    margin-top: 25px;
    margin-bottom: 50px;
}

.div9 {
    width: 50%;
    height: 300px;
    background-color: rgb(74, 189, 228);
    float: left;
    vertical-align: middle;
    text-align: right;
}

.div10 {
    width: 50%;
    height: 300px;
    background-color: tomato;
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.div15 {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: rgb(74, 189, 228);
    text-align: center;
}

.div16 {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background-color: rgb(74, 189, 228);
    text-align: center;
}

.div17 {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: orange;
    text-align: center;
}

.div18 {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background-color: orange;
    text-align: center;
}

.div19 {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background-color: tomato;
    text-align: center;
}

.div20 {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: tomato;
    text-align: center;
}

.corners {
    border-radius: 50%
}

.topic1 {
    color: tomato;
    font-size: 5.5em;
}

.topic2 {
    font-size: 2em;
    margin-left: 0.5em;
}

.column {
    flex: 33.33%;
}